.container-report,
.container-graphics{
    margin-top: 4rem;
    background-color: rgb(255, 255, 255,0.8);
    border-radius: 10%;
    padding: 20px;
}

h4{
    color: #2c4674;
    text-align: center;
    margin-top: 1rem;
    
}

h5{
    color: rgb(34, 80, 166,0.6);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    color: #2c4674;
    margin-bottom: 2rem;

  }

  table, th, td {
    border: 1px solid #1312129c;
  }

  th, td {
    padding: 0.5rem;
    text-align: left;
  }

  .btn-download {
    padding: 8px 16px;
    background-color: #58c085;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .imgPets-container {
    width: 152px;              
    height: 153px;           
    border-radius: 50%;       
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;         
    position: relative;    
    margin-bottom: 1rem;  
  }

 img{
    width: 100%;           
    height: 100%;            
    object-fit: cover;       
    display: block;
 }
 strong {
  display: block;
  margin-bottom: 1rem; 
}