* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
  }

  html, body {
    background-color: #2c4674;
    height: 100%;
  }
  
  .container {
    width: 87%;
    margin: 40px auto;
  }

  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .title {
    margin: 0;
    font-size: clamp(1rem, 4vw, 1.5rem);
    line-height: 1.2;
    color: white;
    text-align: center;
    flex-grow: 1;
  }

  .btn-close {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .icon-back {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* espacio para imagen header*/

  .add-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
  }