
.container {
  min-height: 100dvh;
  background-image: url('../../assets/icons/bg-login.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  margin-top: 65vh; 
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
}

form input,
form button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-radius: 20px;
  font-size: clamp(14px, 2.5vw, 18px);
}

form button {
  background-color: #1f3b87;
  color: white;
  font-weight: bold;
  cursor: pointer;
}